body{
    margin:0;
}
.header{
    /* margin: 0 6rem; */
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    /* background-color: put; */
    /* color: rgb(175, 42, 175); */
    /* position: fix; */
}
.header__title{
    color:  #5B0888;
    font-family: 'Raleway', sans-serif;
}
/* .header__registered{
    line-height: 1.5rem;
    font-size: 20pxpx;
    color: #fff
    letter-spacing: 1px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 15px; 
} */
/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* .navbar a{
    color: #5B0888;
    font-size: 15px;
    font-weight: 290;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
}
.navbar a:hover {
    cursor: pointer;
    transition: all 0.3s ease-out;
} */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
/* a:link{
    /* color: rgb(185, 52, 185); */
    /* background-color: pink; */
    /* color: black; */
/* } */
/* li:hover{
    /* sca */
    /* transform: scale(1.25); */
/* } */ 
/* a:active{
    color: pink;
} */
/* a:visited{
    color: blue;
} */
.li_nav{
    list-style: none;
    display: inline;
    margin: 1rem;
    text-align: center;
}
.ul_nav{
    padding: 0;
    line-height: 5rem;
    margin: 0;
}
/* Compulsory */
/* general classes */
.bg-dark{
    background-color: #5B0888;
    color: white;
    border-radius: 50px;
}
a{
    text-decoration: none;
}

.browse{
    margin: 1.5rem; 
    font-size: 22px;
    color:#012970;
}

.container{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

.box{
    flex-basis: 380px;
    border: 1px solid lightgray;
    margin: 0.5rem;
}

.intext{
    padding-left: 20px;
    color: #012970;
}