.header{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    /* color: rgb(175, 42, 175); */
}
.header__title{
    color:  #5B0888;
    font-family: 'Raleway', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
form label,input{
display: block;
}
form{
    padding: 1rem;
    padding-right: 1.5rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 550;
    width: 18rem;
}
label{
    margin: 0.5rem 0;
}
input{
    width: 100%;
    height: 1.8rem;
    border-radius: 5px;
    box-shadow: none;
    /* box-sizing: content-box; */
    padding-left: 5px;
    outline:none ;
    margin-right: 5px;

}
input:focus{
    outline: none;
}
button{
    border-radius: 1rem;
    padding: 0.5rem 2rem ;
    margin-top: 1rem;
    border: 2px solid  #E5CFF7;
    border-radius: 50px;
    background-color: #E5CFF7;
    /* align-items: center; */
}
button:hover{
    cursor: pointer;
}
.submit{
    margin: 1rem auto ;
    display: flex;
    color:  #5B0888;
    font-weight: 600;
    font-size: 1rem;
    /* border:1px solid bl */

}

/* Compulsory */
/* general classes */

.bg-dark{
    background-color: #713ABE;
    color: white;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}

.bl{
    /*bottom line*/
    display: flex;
    justify-content: center;
}